<div class="about btn-warning">
  <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            National Scholarship Portal
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>National Scholarship Portal</strong> is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled. National Scholarships Portal is taken as Mission Mode Project under National e-Governance Plan (NeGP)<hr>
            <strong>Vision</strong>  National Scholarships Portal is one-stop solution through which various services starting from student application, application receipt, processing, sanction and disbursal of various scholarships to Students are enabled.
            This initiative aims at providing a Simplified, Mission-oriented, Accountable, Responsive & Transparent 'SMART' System for faster & effective disposal of Scholarships applications and delivery of funds directly into beneficiaries account without any leakages.<hr>
            <strong>Mission</strong> The Mission Mode Project (MMP) of National Scholarships Portal under the National e-Governance Plan aims at providing common electronic portal for implementing various Scholarships schemes launched by Union Government, State Government and Union Territories across the country.<hr>
            <strong>Objectives</strong> Ensure timely disbursement of Scholarships to studentsProvide a common portal for various Scholarships schemes of Central and State GovernmentsCreate a transparent database of scholarsAvoid duplication in processingHarmonisation of different Scholarships schemes & normsApplication of Direct Benefit Transfer<hr>
            <strong>Benefits</strong> <ul>
              <li>
                Simplified process for the students:
                  <ol><li> All scholarships information available under one umbrella.</li>
                <li>Single integrated application for all scholarships.</li></ol>
              </li>
              <li>Improved transparency :
                  <ol><li>System suggests the schemes for which a student is eligible.</li>
                <li>Duplicates can be reduced to the maximum extent</li></ol>
              </li>
              <li> Helps in standardisation :
                  <ol>
                      <li>Master data for Institutions and courses at all India level .</li>
                      <li> Scholarships processing</li>
                  </ol>
              </li>
              <li>Serves as a decision support system (DSS) for Ministries and departments as up-to date information will be available on demand.</li>
              <li>Comprehensive MIS System to facilitate monitoring every stage of Scholarships distribution i.e. from student registration to delivery of funds</li>
          </ul>
          </div>
        </div>
      </div>
    </div>
</div>
