<div class="contact">
  <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            CONTACT
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Help Disk</strong><br>Candidates can contact the Help Desk for resolution of the technical problems <hr>
            <strong>012-661954 - call</strong> <br> <strong>helpdesk@nsp.gov.in</strong>
            </div>
        </div>
      </div>
      </div>
</div>
