.btn-dark{
    margin-left: 10%;
}
.table1{
    margin-bottom: 5%;
}
th {
    text-align: left;
  }
  table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: #96D4D4;
}
.btn{
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}
