<nav style="margin-top: -50px;"class="navbar navbar-dark bg-warning">
  <div class="container-md">
    <img src="assets/threelions.png" alt="Threelionslogo">
    <a class="navbar-brand"><h1 center>National Scholarship Portal</h1></a><br>
  </div>
  <div style="margin-top: -50px;" class="container-md">
    <a>&nbsp;&nbsp;&nbsp;&nbsp;</a>
    <a class="navbar-brand"><h3 center>Government Of India</h3></a><br>
  </div>
</nav>
<div class="wrapper">
  <div class="shadow p-3 mb-5 bg-body rounded">
      <ul class="nav nav-pills">
          <li class="nav-item1">
              <a class="nav-link active bg-info" aria-current="page" routerLink="/home" style="color:black">HOME</a>
            </li>
          <li class="nav-item">
              <a class="nav-link active bg-info" aria-current="page" routerLink="/about" style="color:black">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active bg-info" aria-current="page" routerLink="/contact" style="color:black">CONTACT US</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link active bg-info" aria-current="page" routerLink="/studentregistration" style="color:black">REGISTRATION</a>
            </li>  
      </ul>
  </div>
</div>

<div>
<router-outlet></router-outlet>
</div>