<button class="btn btn-dark" routerLink="/home">Logout</button>
  <div class="basic">
      <h1>SCHOLARSHIP APPLICATION DETAILS</h1>
      <form class="row g-3"  #scholarshipapplicationdetails="ngForm" (ngSubmit)="savescholarshipDetails(scholarshipapplicationdetails)">
        <div class="col-4">
          <label for="name" class="form-label">Full Name *</label>
          <input required type="text" name="name" class="form-control" id="name" placeholder="" #name="ngModel" ngModel >
          <span style="color: red;" *ngIf="name.invalid  || name.untouched" class="alert">Enter Name</span>
          
        </div>
        <div class="col-4">
          <label for="email" class="form-label">Registered Email *</label>
          <input required type="email" email="true" name="email" class="form-control" id="email" placeholder="" #email="ngModel" ngModel >
          <span style="color: red;" *ngIf="email.invalid || email.untouched" class="alert">Enter email</span>
        </div>
        <div class="col-4">
          <label for="inputPhoneNo" class="form-label">Registered Phone Number *</label>
          <input required type="text" minlength="10" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="" #phoneNo="ngModel" ngModel >
          <span style="color: red;" *ngIf="phoneNo.errors?.['minlength'] || phoneNo.untouched">
            Mobile number must be 10 digits.
          </span>
        </div>
        <div class="col-md-6">
          <label for="inputAadhar" class="form-label">AADHAR NUMBER * </label>
          <input required minlength="12" type="text" name="aadhar" class="form-control" id="aadhar" #aadharNo="ngModel" ngModel>
          <span style="color: red;" *ngIf="aadharNo.errors?.['minlength'] || aadharNo.untouched">
            Aadhar number must be 12 digits.
          </span>
        </div>
        <div class="col-md-4">
          <label for="inputDOB" class="form-label"> DOB :</label> 
          <input formControlName="dob" type="date" class="form-control" id="dob" placeholder=""  >
      </div>
        <div class="col-md-4">
            <label for="inputReligion" class="form-label">RELIGION</label>
            <select id="inputReligion" name="religion" class="form-select" id="religion" ngModel>
              <option selected>select your religion</option>
              <option>Hindu</option>
              <option>Muslim</option>
              <option>Christian</option>
              <option>Sikh</option>
              <option>Other</option>
            </select>
        </div>
        <div class="col-6">
          <label for="inputCommunity" class="form-label">COMMUNITY/CATEGORY</label>
          <input type="text" name="community" class="form-control" id="community" placeholder="" ngModel>
        </div>
        <div class="col-6">
          <label for="inputFatherName" class="form-label">FATHER NAME</label>
          <input type="text" name="fatherName" class="form-control" id="fathername" ngModel>
        </div>
        <div class="col-md-6">
          <label for="inputMotherName" class="form-label">MOTHER NAME</label>
          <input type="text" name="motherName" class="form-control" id="mothername" ngModel>
        </div>
        <div class="col-md-6">
          <label for="inputfamilyannualincome" class="form-label">FAMILY ANNUAL INCOME</label>
          <input type="number" name="annualIncome" id="annualincome" class="form-control" ngModel>
        </div>
        <hr>
        <h1>ACADEMIC DETAILS</h1>
        
        <div class="col-md-4">
            <label for="inputInstitutionName" class="form-label">INSTITUTION NAME</label>
            <input type="text" name="institution" class="form-control" id="institution" #instName="ngModel" ngModel>
            <span style="color: red;" *ngIf="instName.invalid  || instName.untouched" class="alert">Enter Name</span>
        </div>
        <div class="col-4">
            <label for="inputPresentClass" class="form-label">Present Class</label>
            <input type="text" name="presentClass" class="form-control" id="presentclass" placeholder="" ngModel>
        </div>
        <div class="col-4">
            <label for="inputPresentClassYear" class="form-label">Present Class Year</label>
            <input type="date" name="presentClassYear"class="form-control" id="presentclassyear" placeholder="" ngModel>
        </div>
        <div class="col-md-4">
            <label for="inputModeofStudy" class="form-label">MODE OF STUDY</label>
            <select name="modeOfStudy" class="form-select" id="modeOfStudy" ngModel>
              <option selected>Mode of Study</option>
              <option>Regular</option>
              <option>Distance</option>
            </select>
        </div>
        <div class="col-4">
            <label for="inputClassStartDate" class="form-label">Class Start Date</label>
            <input type="date" name="classStartDate" class="form-control" id="classStartDate" placeholder="" ngModel>
        </div>
        <div class="col-6">
            <label for="inputUniversityName" class="form-label">University/BoardName</label>
            <input type="text" name="university" class="form-control" id="university" placeholder="" ngModel >
        </div>
        <div class="col-4">
            <label for="inputPreviousClass" class="form-label">Previous Class</label>
            <input type="text" name="previousClass" class="form-control" id="previousclass" placeholder="" ngModel>
        </div>
        <div class="col-4">
            <label for="inputPreviousClassYear" class="form-label">Previous Class Year</label>
            <input type="date" name="previousClassYear" class="form-control" id="previousclassyear" placeholder="" ngModel >
        </div>
        <div class="col-md-4">
            <label for="inputpreviouspercentage" class="form-label">Previous Class Percentage</label>
            <input type="number"name="previousPercentage" id="previouspercentage" class="form-control" #percent="ngModel" ngModel>
            <span style="color: red;" *ngIf="percent.invalid  || percent.untouched" class="alert">Enter Percentage</span>
        </div>
        <hr>

        <h1>X<sup>th</sup>CLASS</h1>
        <div class="col-md-6">
            <label for="inputRollNo" class="form-label">ROLL NUMBER</label>
            <input type="number" name="tenthRollNo" class="form-control" id="tenthRollNo" ngModel>
        </div>
        <div class="col-6">
            <label for="inputBoardName" class="form-label">BOARD NAME</label>
            <input type="text" name="tenthBoard" class="form-control" id="tenthBoard" placeholder="" ngModel>
        </div>
        <div class="col-6">
            <label for="inputPassingYear" class="form-label">Passing Year</label>
            <input type="date" name="tenthYear" class="form-control" id="tenthYear" placeholder="" ngModel>
        </div>
        <div class="col-md-4">
            <label for="inputpercentage" class="form-label">Percentage Obtained</label>
            <input type="number" name="tenthPercentage" id="tenthPercentage" class="form-control" ngModel>
        </div>
        <hr>

        <h1>XII<sup>th</sup>CLASS</h1>
        <div class="col-md-6">
          <label for="inputRollNo" class="form-label">ROLL NUMBER</label>
          <input type="number" name="twelthRollNo" class="form-control" id="twelthRollNo" ngModel>
        </div>
        <div class="col-6">
            <label for="inputBoardName" class="form-label">BOARD NAME</label>
            <input type="text" name="twelthBoard;" class="form-control" id="twelthBoard" placeholder="" ngModel>
        </div>
        <div class="col-6">
            <label for="inputPassingYear" class="form-label">Passing Year</label>
            <input type="date" name="twelthYear" class="form-control" id="twelthYear" placeholder="" ngModel>
        </div>
        <div class="col-md-4">
          <label for="inputpercentage" class="form-label">Percentage Obtained</label>
          <input type="number" name="twelthPercentage" id="twelthPercentage" class="form-control" ngModel>
        </div>
        <hr>
        <h1>FEE DETAILS</h1>
        <div class="col-md-4">
            <label for="inputAdmissionFee" class="form-label">ADMISSION FEE</label>
            <input type="number" name="admissionFee" class="form-control" id="admissionFee" ngModel>
        </div>
        <div class="col-md-4">
          <label for="inputTuitionFee" class="form-label">TUITION FEE</label>
          <input type="number" name="tuitionFee" class="form-control" id="tuitionFee" ngModel>
        </div>
        <div class="col-md-4">
          <label for="inputOtherFee" class="form-label">OTHER FEE</label>
          <input type="number" name="otherFee" class="form-control" id="otherFee" ngModel>
        </div>
        
        <hr>
        <h1>OTHER PERSONAL DETAILS</h1>
        <div class="col-md-6" >
            <label for="inputIsDisabled" class="form-label">IS DISABLED</label>
            <select id="inputIsDisabled" name="isDisabled" class="form-select" id="isDisabled" ngModel>
              <option selected>Select </option>
              <option>Yes</option>
              <option>No</option>
            </select>
        </div>
        <div class="col-6">
            <label for="inputTypeofDisablity" class="form-label">TYPE OF DISABILITY</label>
            <input type="text" name="typeOfDisability" class="form-control" id="typeOfDisability" placeholder="" ngModel>
        </div>
        <div class="col-6">
            <label for="inputpercentageofdisability" class="form-label">PERCENTAGE OF DISABILITY</label>
            <input type="number" name="disabilityPercenage" class="form-control" id="disabilityPercenage" ngModel>
        </div>
        <div class="col-md-6">
          <label for="inputMaritalStatus" class="form-label">MARITAL STATUS</label>
          <select id="inputMaritalStatus" name="maritalStatus" class="form-select" id="maritalStatus" ngModel>
            <option selected>Select </option>
            <option>MARRIED</option>
            <option>SINGLE</option>
          </select>
        </div>
        <div class="col-6">
          <label for="inputParentsProfession" class="form-label">PARENTS PROFESSION</label>
          <input type="text" name="parentsProfession" class="form-control" id="parentsProfession" placeholder="" ngModel>
        </div>

        <hr>
        <h1>CONTACT DETAILS</h1>
        <div class="col-6">
          <label for="inputState" class="form-label">STATE</label>
          <select id="inputState" name="state" class="form-select" id="state" ngModel>
            <option selected>select your state</option>
            <option value="Telangana" name="state">Telangana</option>
            <option value="AndhraPradesh" name="state">Andhra Pradesh</option>
            <option value="Maharashtra" name="state">Maharashtra</option>
            <option value="Kerala" name="state">Kerala</option>
            <option value="MadhyaPradesh" name="state">MadhyaPradesh</option>
            <option value="Punjab" name="state">Punjab</option>
          </select>
        </div>
        <div class="col-6">
          <label for="inputDistrict" class="form-label">DISTRICT</label>
          <input type="text" name="district" class="form-control" id="district" placeholder="Please enter your district" ngModel>
        </div>
        <div class="col-6">
          <label for="inputTaluk" class="form-label">TALUK/Mandal</label>
          <input type="text" name="taluk" class="form-control" id="taluk" placeholder="Please enter your Taluk / Mandal" ngModel>
        </div>
        <div class="col-6">
          <label for="inputHno" class="form-label">HOUSE NUMBER</label>
          <input type="text" name="houseNo" class="form-control" id="houseNo" placeholder="" ngModel>
        </div>
        <div class="col-6">
          <label for="inputStreetno" class="form-label">STREET NUMBER</label>
          <input type="text" name="streerNo" class="form-control" id="streerNo" placeholder="" ngModel>
        </div>
        <div class="col-6">
          <label for="inputPincode" class="form-label">PINCODE</label>
          <input type="number" name="pincode" class="form-control" id="pincode" placeholder="" ngModel>
        </div>
        <div class="col-4">
            <label for="gender" class="form-label" >GENDER  </label> <br>
            <input type="radio" class="form-input" value="male" name="gender" [(ngModel)]="optionValue" ngModel>&nbsp;Male  &nbsp;
            <input type="radio" class="form-input" value="female" name="gender" [(ngModel)]="optionValue" ngModel>&nbsp;Female
            </div>
        <div class="col-6">
          <label for="inputScheme" class="form-label">CHOOSE SCHEME </label>
          <select id="scheme" name="scheme" class="form-select" [(ngModel)]="schemeValue" ngModel>
            <option *ngIf="optionValue=='male'" >Post Matric Scholarship (Merit-cum-Means Based for Students from Maharashtra)</option>
            <option *ngIf="optionValue=='male'" >Merit Based Scholarship</option>
            <option *ngIf="optionValue=='female'">Pragati Scholarship</option>
            <option  *ngIf="optionValue=='male'">Central Scholarship Scheme</option>
            <option *ngIf="optionValue=='female'">Central Scholarship</option>
            <option *ngIf="optionValue=='female'">Merit Based Scholarship</option>
          </select>
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="optionValue=='female'"> 
            <ul><li>Scholarship for Girls have Pragati Scholarship and can be applicable for Two Girls per Family with Family income < 8lpa.</li>
            </ul>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="schemeValue==2"> 
            <ul>
            <li>Merit Based Scholarship has National Talent Search Examination , which should be attempted.</li></ul>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required #check="ngModel" ngModel>
              <label class="form-check-label" for="invalidCheck">
                ALL THE DETAILS FURNISHED BY ME ARE TRUE TO THE BEST OF MY 
              KNOWLEDGE. IF ANY MISTAKES ARE FOUND THEN I MAY BE DISQUALIFIED FOR SCHOLARSHIP SCHEME ANNOUNCED BY GOVERNMENT 
              OF INDIA OR MY STATE GOVERNMENT.
              </label>
              <span style="color: red;" *ngIf="check.untouched" class="alert"> You must agree before submitting.</span>
            </div>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>  
      </form>
    </div>
    
  