<button class="btn btn-dark" routerLink="/home">Logout</button>
<h1 style="color:black; text-align: center;">Institution Registration Details</h1>
<hr>
<div class="container" *ngFor="let institute of instituteapplication | async">
    <form class="row">
        <div class="col-md-10">
        <h3>INSTITUTE DETAILS</h3><br>
        <div class="col-md-4">
            <label for="inputInstitutionCategory" class="form-label">INSTITUTION CATEGORY: {{institute.institutionCategory}}</label>
        </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <label for="inputName" class="form-label">Name: {{institute.name}}</label>
            </div>
            <br>
            <div class="col-md-4" >
                <label for="inputState" class="form-label">STATE: {{institute.instState}}</label>
            </div>
        </div>
        <br>
        <div class="col-md-4">
            <label for="inputDistrict" class="form-label"> DISTRICT: {{institute.instDistrict}} </label>
        </div>
        <div class="col-md-4">
            <label for="inputDISECode" class="form-label">DISE CODE: {{institute.diseCode}}</label>
        </div>
        <div  class="row">
            <label for="inputLocation" class="form-label">LOCATION : {{institute.location}}</label>
        </div>
        <div class="col-md-4">
            <label for="inputIstituteType" class="form-label">INSTITUTE TYPE: {{institute.institutionType}}</label>
        </div>
        <div class="col-md-6">
            <label for="inputAffiliatedUniversityState" class="form-label">AFFILIATED UNIVERSITY STATE: {{institute.affilatedUniversityState}}</label>
        </div>
        <div class="col-md-6">
            <label for="inputAffiliatedUniversityBoardName" class="form-label">AFFILIATED UNIVERSITY/ BOARD NAME: {{institute.affilatedUniversityBoardName}}</label>
        </div>
        <div class="col-md-12">
            <label for="inputYearFromWhichAdmissionStarted" class="form-label">YEAR FROM WHICH ADMISSION STARTED: {{institute.yearFromWhichAdmissionStarted}} </label>
        </div>
        <div  class="row">
            <div class="col-md-4">
                <label for="inputEmail" class="form-label">EMAIL : {{institute.email}}</label>
            </div>
        </div>
            <label for="input" class="form-label"> AFFILIATED TO : {{institute.affilatedUniversityBoardName}}</label><br>
        <div class="col-md-6">
            <label for="input" class="form-label"> ADDRESS: {{institute.addressLine1}}</label>
        </div>
        <div>
            <label for="inputCity" class="form-label">CITY : {{institute.city}}</label>
        </div>
        <div class="col-md-8">
            <label for="inputState" class="form-label">STATE: {{institute.state}}</label>
        </div>
        <div>
            <label for="inputDistrict" class="form-label">DISTRICT : {{institute.district}}</label>
        </div>
        <div> 
            <label for="inputPinCode" class="form-label">PIN CODE : {{institute.pincode}}</label>
        </div>
            <label for="input" class="form-label">CONTACT DETAILS</label>
        <div class="col-md-8">
            <label for="inputPrincipalName" class="form-label">PRINCIPAL NAME : {{institute.principleName}}</label>
        </div>
        <div> 
            <label for="inputTelephone" class="form-label">TELEPHONE : {{institute.telephone}}</label>
        </div>
        <div *ngIf='institute.finalStatus==false'>
          <button class="btn btn-success" (click)="finalApprove(institute)" onclick="window.location.reload();">APPROVE</button>
          <button class="btn btn-danger" (click)="remove(institute)" onclick="window.location.reload();">DENY</button>
      </div>
      <div *ngIf='institute.finalStatus==true'>
          <h2 style="color: green;">Approved</h2>
      </div>
    </form>
    <br><br><hr>
</div>