
<!-- <div class="Student">
<a routerLink="/studentlogin">Student Login</a><br>
<a routerLink="/adminlogin">Admin Login</a>
</div> -->
<body class="box">
<div class="wrapper">
    <div class="shadow p-3 mb-5 bg-body rounded"  style="margin-left: 10%; margin-right: 4%;">
        <ul class="nav nav-pills" >
            <li class="nav-item">
                <a class="nav-link active btn-info bg-info" aria-current="page" routerLink="/studentregistration" style="color:black">Student Registration</a>
              </li>
            <li class="nav-item">
                <a class="nav-link active btn-info bg-info" aria-current="page" routerLink="/studentlogin" style="color:black">Student Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active btn-info bg-info" aria-current="page" routerLink="/ministry" style="color:black">Ministry Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active btn-info bg-info" aria-current="page" routerLink="/nodallogin" style="color:black">Nodal Login</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link active btn-info bg-info" aria-current="page" routerLink="/institutionregistration" style="color:black">Institute Registration</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link active btn-info bg-info" aria-current="page" routerLink="/institutionlogin" style="color:black">Institute Login</a>
              </li>   
        </ul>
    </div>
</div>

<body class="box">
    <div class="float-box">
      <div class="float-child">
        <div class="shadow p-3 mb-5 bg-body rounded">
        <button type="button" id="lat" class="btn btn-info">LATEST UPDATES</button>
        <div class="news" style="color:red"><marquee>
        <ul>
          <li>Merit-Based scheme is now open for only the students of Maharashtra. Students can register , Institutes will verify,  District nodal officers will aprrove.</li>
          <br>
          <li>Pragati scholarship is for Girls from a family with annual income less than 8lpa.</li>
          <br>
          <li>Central Scholarship is available for students from backward categories.</li>
        </ul></marquee>
        </div>
        </div>
      </div>

      <div class="float-child">
        <div class="shadow p-3 mb-5 bg-body rounded">
          <button type="button" id="lat" class="btn btn-info">NATIONAL SCHOLARSHIP PORTAL</button>
          <div class="mssg">
            <strong>Welcome to National Scholarship Portal.</strong><br>&nbsp;
            <h5>Ministry of Electronics & Information Technology</h5><br>
            <h5>Government of India</h5><br>
            <p> Contact Helpline Desk in case of any Technical Errors</p>
          </div>
        </div>
      </div>
      <div class="box p-3 mb-5 bg-body rounded">


      </div>
    <!--<div class="float-child">
      <div class="shadow p-3 mb-5 bg-body rounded">
        <div class="col-md-6 login-form-1">
          <button type="button" id="btn1" class="btn btn-info">ABOUT US</button>
          <div class="mssg">
            <h5>
              National Scholarships Portal is one-stop solution through which 
              various services starting from student application, application 
              receipt, processing, sanctions of various scholarships 
              to Students are enabled.
            </h5>
         </div>
       </div>
      </div>
    </div>-->
</div>